---
layout: default
---
{% include header.pug  %}
div.wrapper
	div#content
		div.placeholder
			ul
				li Brožuru s infografikami v PDF 
				li Zdrojovou tabulku Kolik stojí stát 
				li Studii Ten Thousand Commandments 2015 od Competetive Enterprise institute, ze které odvozujeme dodatečné náklady regulací 		


 
