---
layout: default
---
{% include header.pug  %}
div.wrapper
	div#content
		div.placeholder nfografika: Možná „koláč“/graf, kde bude vidět podíl čisté mzdy 17 490 na hypotetickém měsíčním výdělku měsíčních 72 412,- Kč
		p Bez státu bychom vydělali 
			span.caution 58 732 korun 
		p Ve skutečnosti si při mediánové mzdě vyděláme pouze 
			span.caution 17 490 korun 
		p Z hrubé mzdy vám stát ještě strhává ještědaň z příjmu a další poplatky na zdravotní a sociální pojištění 
		p Takto nám stát sebere 
			span.caution 5 tisíc korun měsíčně		


 
