---
layout: default
---
{% include header.pug  %}
div.wrapper
	div#content
		h3 Napadlo Vás někdy, kolik nás stojí stát?
		table.sttab
			tr
				td Potenciální mediánová mzda při eliminaci státních zásahů
				td 81 258,- Kč
			tr
				td Celková měsíční ztráta kvůli státu
				td 66 605,- Kč

	p Možná znáte rozdíl mezi hrubou a čistou mzdou...
	p ...možná, že jste někdy slyšeli i o superhrubé mzdě

	p Ale to zdaleka není všechno! 
	p Kolik zaplatíte státu, aniž byste o tom věděli?
	p Kolik by Vám zůstalo, kdyby se stát nemíchal, kam nemá?
	p Státu jste nuceni věnovat 
		span.caution 75% svého úsilí, času a peněz!
	
 
	div.placeholder úderná infografika (jednoduché a efektní by bylo tady použít nápad „Kolik vykouří stát“) – upozorňující na celkový výsledek –75% cigaret = našich peněz, času, energie a zdrojů jde státu! Při hrubé mzdě22 531 bychom mohli doopravdy mít 58732! Stát vás připravil o 44 tisíc! – 16 cigaret = popelník s 16 vykouřenými cigaretami + krabička, kde zůstaly čtyři = tolik vykouřil stát, tolik zbylo pro vás


