---
layout: default
---
{% include header.pug  %}
div.wrapper
	div#contenti
		div.placeholder Ideálně 2 infografiky: 1)opakování té první „Kolik vykouří stát“ 2)koláčový graf: podíl částky 14 653 na celkové částce 72 412 
		p Státu jsme nuceni věnovat 
			span.caution 75 % svého úsilí, času a peněz!
		p Bez státu bychom vydělali
			span.caution 58732 korun 
		p Reálná mzda však činí 
			span.caution 14 653 korun 
		p Stát nás připraví o více než 
			span.caution 44 tisíc korun 
			span měsíčně...						


 
