---
layout: default
---
{% include header.pug  %}
div.wrapper
	div#content
		p Ne všechny náklady, co nás stojí stát, jsou viditelné.
		p Ekonomové hovoří o takzvaném nákladu obětované příležitosti: 
		div.detail „Tím, že se člověk rozhodne jít večer do kina, se zbaví možnosti v ten samý čas pracovat přesčas a vydělávat peníze. Nákladem obětované příležitosti je mzda nezískaná kvůli rozhodnutí jít do kina.“
		p.bold Stát nás nutí dělat neproduktivní činnost. 
		p Účetnictví, zbytečná administrativa, hodiny ztracené snahou vyhovět nejnovějším předpisům a regulacím.
		p.bold Tímto způsobem 
			span.caiton ztratíme 613 z 2016 pracovních hodin ročně.
		p Za tento čas jsme si mohli měsíčně vydělat 13 680 korun navíc. 

		hr
		div.detail (Před text by se hodil stream videoklipu youtube nějak vtipně vysvětlujícího náklad ztracené příležitosti. (eventuálně infografika) Tady by zrovna dával smysl na závěr odkaz (měl by být spíš menší než ten zbytek) na zdrojovou tabulku.) 	


 
