---
layout: default
---
{% include header.pug  %}
div.wrapper
	div#content
		div.placeholder Infografika: Možná „koláč“/graf, kde bude vidět podíl 22 531 na měsíčních nákladech, které tvoří 45052

		p Měsíční mediánová mzda je 
			span.caution 22 531,- Kč
		p Ve skutečnosti však musíme vydělat 
			span.caution 45 052,- Kč	
		p Více než polovina této sumy padne na "neviditelné náklady"
		
		div.detail Sem patří: sociální a zdravotní pojištění placené zaměstnavatelem, zákonné pojištění odpovědnosti, náklady státních regulací, nemocenská placená zaměstnavatelem, povinná dovolená, DPH z osobních nákladů.
	
		
		p Tyto neviditelné náklady tvoří 
			span.caution 22 521,- Kč 
			span měsíčně
	
	 
