{% include head.pug %}
header#site-header
	#top-banner
		.wrapper  Cena státu
	div.navtainer 
		div.wrapper
			nav#top-nav
				div.nitem#home(onclick="window.location.replace('./home.html')") Kolik stojí stát
				div.nitem#vydelat(onclick="window.location.replace('./vydelat.html')") Na co musíme měsíčně vydělat 
				div.nitem#naklad(onclick="window.location.replace('./naklad.html')") Náklad ztracené příležitosti
				div.nitem#dostaneme(onclick="window.location.replace('./dostaneme.html')") Kolik měsíčně dostaneme 
				div.nitem#koupime(onclick="window.location.replace('./koupime.html')") Co si za čístý příjem koupíme
				div.nitem#potencial(onclick="window.location.replace('./potencial.html')") Náklad ztraceného potenciálu 
				div.nitem#stahnete(onclick="window.location.replace('./dl.html')") Stáhněte si








